<html>
    <head>
        <link rel="stylesheet" href="./style/style.css">
        <link rel="stylesheet" href="./style/styles1.css">
        <script href="../../ServerFile/app.js"></script>
    </head>
    <body>
        <h1>This is the CONTACT page</h1>
        <h2>Hello World</h2>
    </body>
</html>