<html>
    <head>
        <link rel="stylesheet" href="./style/style.css">
        <link rel="stylesheet" href="./style/styles1.css">
        <script href="../../ServerFile/app.js"></script>
    </head>
    <body>
        <h1>{{title}}</h1>
        <h2>{{name}}</h2>
        <button onclick="location.href='./help'">Help</button>
        <button onclick="location.href='./about'">About</button>
        <button onclick="location.href='./contact'">About</button>
    </body>
</html>