<html>
    <head>
        <link rel="stylesheet" href="./style/style.css">
        <link rel="stylesheet" href="./style/styles1.css">
        <script href="../../ServerFile/app.js"></script>
    </head>
    <body>
        <h1 style="text-align: center;">Timings to reach Varanasi</h1>
        <p>{{time}}</p>
    </body>
</html>